apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssslite-deployment
spec:
  template:
    spec:
      containers:
        - name: ssslite
          envFrom:
            - secretRef:
                name: ssslite-env-uat
